body {
    
    background: rgba(255, 255, 255, 0.603);
    color: rgba(0, 0, 0, 0.863);
    padding: 0px;
    row-gap: 0px;
    column-gap: -13px;
    padding: -15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
h2 {
    color: rgb(0, 0, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
}
h3 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}
p {
    color: black;
    margin: 10px;
}
h1 {
    text-align: center;
}
.navbar {
    background: rgba(89, 0, 255, 0.726);
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 0px;
    width: 100%;      /*full width*/
    height: 80px;     /* not full height*/
    .nav-img {
        width: 50px;
        height: auto;
    }
}
.img{
    transform: translateY(-13));
    box-shadow: black;     /*soft*/
}
.section {
    background: rgba(197, 197, 197, 0.801);
    display: flex;
    justify-content: flex-start;
    padding: 10px 30px;
    border-radius: 0px;
    width: 100%;      /*not full width*/
    padding: 20px;
 img {
    width: 120px;
    height: auto;
    display: flex;
    justify-items: left;
    margin: -5px;
    padding: 20px;
}
}
.vertical-scroll {
flex-direction: row;
width: 100vw;
overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;
}
.vertical-scroll img {
    width: 30vw;
    height: 32vw;
    object-fit: calc(50px,60px);
    flex-shrink: 0;
}
li {
    text-size-adjust: 100px;
    margin: 15px;
}
.footer {
  background: rgba(197, 197, 197, 0.801);
  color-scheme: black;
  text-align: left;
  
}