body {
  background: #EBF0E7;
  text-align: left;
  padding: 40px;
}
 .card {
      background: white;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      padding: 20px;
      margin: 20px auto;
      width: 90%;
      max-width: 500px;
      display: flex;
      justify-content: center;
 }
.img {
  width: 10%;
  height: auto;
}